[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
ipdb = "*"
uvicorn = "*"
boto3 = "*"
aws-cdk-aws-lambda = "*"
aws-cdk-aws-apigateway = "*"
aws-cdk-aws-logs = "*"
aws-cdk-aws-s3 = "*"

[packages]
fastapi = "*"
mangum = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
